<div class="container mt-5">
  <div class="row align-items-center mb-3">
    <div class="col-md-3">
      <img src="{{product.imageUrl}}" class="img-thumbnail" alt="product image">
    </div>
    <div class="col-md-9 ">
      <p class="h3 text-center">{{ product.name }} - {{ product.unitPrice | currency:'USD' }}</p>
      <div class="text-center">
      <span class="fw-bold">Total Rating:</span>
      <span class="text-warning">
              <!-- Display filled stars based on the rating -->
              <i *ngFor="let star of getFilledStars(product.averageRating)" class="bi bi-star-fill"></i>
        <!-- Display empty stars based on the remaining count -->
              <i *ngFor="let star of getEmptyStars(product.averageRating)" class="bi bi-star"></i>
            </span>
      </div>
      <hr>
      <p class="text-center">{{ product.description }}</p>
      <hr>
      <div class="d-flex justify-content-center">
        <button (click)="addToCart()" class="text-muted btn btn-outline-primary">Add to cart</button>
        <button *ngIf="!isLikedItem(product)" (click)="addToLikedItems(product)"
                class="ms-2 bi bi-heart btn btn-outline-danger"></button>
        <button *ngIf="isLikedItem(product)" (click)="removeFromLikedItems(product)"
                class="ms-2 bi bi-heart-fill btn btn-outline-danger"></button>
        <a routerLink="/products" class="ms-2 text-muted btn btn-outline-info">Go back to products!</a>
      </div>
    </div>
  </div>
  <hr>
  <div class="d-flex justify-content-center mt-3">
    <h2>Reviews</h2>
  </div>
  <div *ngIf="reviews.length < 1" class="d-flex justify-content-center flex-column  mt-3">
    <div class="alert alert-warning text-center">
      <p class="mt-3">There is no review data on this product.</p>
    </div>
  </div>

  <div *ngIf="reviews.length > 0" class="d-flex justify-content-center flex-column  mt-3">
    <div *ngFor="let review of reviews">
      <div class="card my-3">
        <div class="card-body">
          <p class="card-text">
            <span class="fw-bold">Rating:</span>
            <span class="text-warning">
              <!-- Display filled stars based on the rating -->
              <i *ngFor="let star of getFilledStars(review.rating)" class="bi bi-star-fill"></i>
              <!-- Display empty stars based on the remaining count -->
              <i *ngFor="let star of getEmptyStars(review.rating)" class="bi bi-star"></i>
            </span>
          </p>
          <p class="card-text"><span class="fw-bold">Username:</span> {{ review.username }}</p>
          <p class="card-text"><span class="fw-bold">Review:</span> {{ review.review }}</p>
          <p class="card-text"><span class="fw-bold">Date:</span> {{ review.creationDate | date:'medium' }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <h2>Write your opinion on {{ product.name }}</h2>
  </div>
  <div class="d-flex justify-content-center flex-column  mt-3">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-floating mb-3">
        <input type="text" formControlName="username" class="form-control" id="username" placeholder="Your username">
        <label for="username">Username</label>
      </div>
      <div class="form-floating">
        <textarea class="form-control" formControlName="review" id="review" placeholder="Your Review"
                  style="height: 100px"></textarea>
        <label for="review">Your review</label>
      </div>
      <div class="my-3">
        <div class="d-flex justify-content-center">
          <ngb-rating formControlName="rating" [max]="5">
            <ng-template let-fill="fill" let-index="index">
              <i class="bi-star{{ fill === 100 ? '-fill' : '' }}" [class.filled]="fill === 100"
                 [class.low]="index < 2"></i>
            </ng-template>
          </ngb-rating>
        </div>
        <div *ngIf="form.get('rating')?.valid" class="form-text small d-flex justify-content-center">
          <div class="text-success">Thanks!</div>
        </div>
        <div *ngIf="form.get('rating')?.invalid" class="form-text small d-flex justify-content-center">
          <div class="text-danger">Please leave a rate for this product</div>
        </div>
      </div>
      <div class="d-flex justify-content-center mb-3">
        <button type="submit" class="btn btn-success" [disabled]="form.invalid">Send review!</button>
      </div>

    </form>
  </div>


</div>

