<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/products">
      <img src="assets/images/logo.png" alt="Logo" width="30" class="d-inline-block align-text-top">
      WideBuy
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/products">Products</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let category of categories"> <a class="dropdown-item" routerLink="/category/{{category.id}}">{{category.name}}</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav me-2 mb-2 mb-lg-0">
        <li class="nav-item me-2" *ngIf="!authenticated">
          <a  class="btn btn-outline-primary" aria-current="page" routerLink="/login" >Login</a>
        </li>

        <li class="nav-item me-2" *ngIf="authenticated">
          <a class="btn btn-outline-secondary" aria-current="page" routerLink="/profile" >Profile, {{sessionStorage.getItem('app.username')}}</a>
        </li>
        <li class="nav-item me-2" *ngIf="authenticated">
          <button class="btn btn-outline-danger" aria-current="page" (click)="logout()" >Logout</button>
        </li>
        <li class="nav-item me-2">
          <a class="btn btn-outline-success bi bi-basket" aria-current="page" routerLink="/cart" > {{cartLength == 0 ? '' : cartLength}}</a>
        </li>
      </ul>
      <div class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" #search>
        <button class="btn btn-outline-success bi bi-search" (click)="onSearch(search.value)"></button>
      </div>
    </div>
  </div>
</nav>





