<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted" >
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="mailto:vvojchenko0@gmail.com" class="me-4 text-reset">
        <i class="bi bi-google"></i>
      </a>
      <a href="https://www.instagram.com/kach.ur/" class="me-4 text-reset">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/vadimvoichenko/" class="me-4 text-reset">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="https://github.com/K4chur" class="me-4 text-reset">
        <i class="bi bi-github"></i>
      </a>
    </div>
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section>
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class=""></i>WideBuy
          </h6>
          <p>
            We have been offering retail services for many centuries, so our store is the best solution for your money. (or not)
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="https://github.com/K4chur/WideBuy" class="text-reset">WideBuy</a>
          </p>
          <p>
            <a href="https://github.com/K4chur/Group1_SS_CarRental" class="text-reset">CarRental</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home "></i> Chernivtsi, 58000, UA</p>
          <p>
            <i class="fas fa-envelope "></i>
            vvojchenko0@gmail.com
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    <!--TODO later if it will brake something, get rid off -->
    © 2024 UnCopyright:
    <a class="text-reset fw-bold" href="https://github.com/K4chur">Kachur.com</a>
  </div>
</footer>
