<div class="container d-flex flex-column justify-content-center mt-3">
  <div>
    <div>
      <div class="d-flex justify-content-center">
        <img src="assets/images/photoPlaceholder.jpg" alt="profilePicture" class="img-fluid rounded">
      </div>
      <div class="d-flex justify-content-center mt-3">
        <p class="text-black">User name: {{ sessionStorage.getItem('app.username') }}</p>
      </div>
    </div>

    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item" style="cursor: pointer">
        <a class="nav-link" (click)="toggleView()" [class.active]="!userChoose">Orders</a>
      </li>
      <li class="nav-item" style="cursor: pointer">
        <a class="nav-link" (click)="toggleView()" [class.active]="userChoose">Liked Items</a>
      </li>
    </ul>

    <div class="mt-3" *ngIf="!userChoose">
      <div class="d-flex justify-content-center">
        <div>
          <p class="h4">Order History:</p>
        </div>
      </div>
      <div *ngIf="orders.length > 0" class="mt-3">
        <table class="table">
          <thead class="table-dark">
          <tr>
            <th>ID:</th>
            <th>OTN:</th>
            <th>Total price:</th>
            <th>Total quantity:</th>
            <th>Date created:</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let order of orders">
            <th>{{ order.id }}</th>
            <td>{{ order.orderTrackingNumber }}</td>
            <td>{{ order.totalPrice | currency:'USD' }}</td>
            <td>{{ order.totalQuantity }}</td>
            <td>{{ order.dateCreated | date: 'dd-MM-YYYY'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="orders.length < 1" class="alert-warning alert mt-3">
        <p class="text-center mb-0">There is no order data!</p>
      </div>
    </div>

    <div class="mt-3" *ngIf="userChoose">
      <div class="d-flex justify-content-center">
        <div>
          <p class="h4">Liked items:</p>
        </div>
      </div>
      <div *ngIf="likedItems.length > 0" class="mt-3">
        <div class="row mt-2">
          <div class="col-md-12 col-lg-4 mb-4 mb-lg-0" *ngFor="let product of likedItems">
            <div class="card mt-3">
              <a routerLink="/product/{{product.id}}">
                <img src="{{product.imageUrl}}"
                     class="card-img-top" alt="Laptop"/>
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <!--            <p class="small text-danger"><s>$1099</s></p>-->
                </div>

                <div class="d-flex justify-content-between mb-3">
                  <h5 class="mb-0">{{ product.name }}</h5>
                  <h5 class="text-dark mb-0">{{ product.unitPrice | currency:'USD' }}</h5>
                </div>

                <div class="d-flex justify-content-between mb-2">
                  <a routerLink="/product/{{product.id}}" class="ms-2 text-muted btn btn-outline-info">Details</a>
                  <div class="ms-auto text-warning mt-2">
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="likedItems.length < 1" class="alert-warning alert mt-3">
        <p class="text-center mb-0">There is no liked items!</p>
      </div>
    </div>
  </div>
</div>
